body {
    box-sizing: border-box;
    background-color: #2b3237;
  }
  
  *,
  :before,
  :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9%;
    background-color: #4a4a50;
    border-bottom: solid 2px black;
  }
  
  .nav-wrapper a {
    color: #cdcdd9;
    text-decoration: none;
    padding-left: 1%;
  }
  
  .nav-wrapper a:hover {
    color: #ee4c22;
  }
  
  .nav-wrapper {
    margin-left: 1%;
    margin-top: 1%;
  }
  
  .logout {
    margin-left: 40%;
  }
  .container{
      background-color: #fff;
      min-width:45%;
      width:fit-content;
      min-height: 55vh;
      height: fit-content;
      margin:6% 10%;
      padding:1% 1%;
      border-radius: 5px;
  }
  p{
      color:#2b3237;
      font-weight: bold;
      border-bottom: solid 1px #cdcdd9;
      padding-bottom:2%;
  }
textarea{
    min-width: 100%;
    min-height: 35vh;
    margin-top: 2%;
    border: solid 1px #cdcdd9;
    padding:2% 2%;
    font-size: 1em;
    border-radius: 5px;
}
button{
    padding:2% 5%;
    margin-left: 80%;
    margin-top: 2%;
    background-color: #ee4c22;
    color:white;
    cursor: pointer;
}
