body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0;
    background: url("https://d1muxuiltlupn6.cloudfront.net/assets/welcome-bg-b2a-1-e9840296f0aff862573167c7528cf4e2dd0cae4ab2e308bdd17e54d19bac49dd.jpg") center center fixed;
    background-size: cover;
    font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif
}

*,
:after,
:before {
    box-sizing: inherit;
}

.page-container {
    position: relative;
    min-height: 101vh;
}

.logo {
    padding-top: 15%;
}

.logo-text {
    padding-top: 1%;
    margin-bottom: 50px;
}

.text-center {
    padding-left: 13%;
}

img {
    width: 140px;
}

.content-wrap a:link {
    text-decoration: none;
    border: solid 1px #fff;
    border-radius: 5px;
}

.signup-btn {
    color: black;
    background-color: #fff;
    padding: 10px 144px;
    margin-bottom: -10px;
}

.login-btn {
    color: #fff;
    padding: 10px 155px;
}

.content-wrap {
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.7rem;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-evenly;
    background-color: #fff;
    padding-bottom: 5px;
    margin-top: 40px;
}