<!DOCTYPE html>
{% load static %}
<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{% static 'main/landpagestyle.css' %}" />
   <link rel="shortcut icon" href="https://dz6knj20ch8bg.cloudfront.net/432/281/136/-79996995-1tp2lrn-j5q3jql058eftpp/original/owl_1024x1024.png" type="image/x-icon">
 </head>

<body>
 <div class="page-container">
   <div class="content-wrap">
     <img src="https://d1muxuiltlupn6.cloudfront.net/assets/logo-218dee6614a52e488e9b2aed37eecfcb43b2523a2973be8fdbfbbc3ddcdf6328.png" alt="logo" class="logo">
     <p class="logo-text"><span class="text-center">Curious? <strong> Just ask!</strong></span><br/>
     <strong> Openly or anonymously.</strong></p>
     <a href="{% url 'signup'%}" class="signup-btn">Sign up</a><br/>
     <a href="{% url 'login'%}" class="login-btn">Login</a>
   </div>
   
 </div>
</body>

</html>
