<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | ASKfm</title>
    <link rel="shortcut icon" href="https://dz6knj20ch8bg.cloudfront.net/432/281/136/-79996995-1tp2lrn-j5q3jql058eftpp/original/owl_1024x1024.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/loginstyle.css' %}">
</head>

<body>
    <header>
        <img src="https://d1muxuiltlupn6.cloudfront.net/assets/logo-218dee6614a52e488e9b2aed37eecfcb43b2523a2973be8fdbfbbc3ddcdf6328.png" alt="logo" class="logo">
    </header>
    <hr/>
    <div class="wrapper">
        <div class="form-title-wrapper">
            <p class="form-title">Log in</p>
            <p id="title-font-size">Don’t have an account yet? <a href="#">Sign up</a></p>
        </div>
        <form action="{% url 'auth'%}" method="POST">
        {% csrf_token %}
            <label for="">Login</label><br/>
            <input type="text" name="username" placeholder="Username or email"><br/>
            <div class="block-margin">
                <label for="">Password</label><br/>
                <input type="password" name="password" placeholder="Password" autocomplete="new-password"><br/>
            </div>
            <div class="block-margin">
                <input type="checkbox"> <label class="checkbox-label">Remember me</label>
                <a href="#" class="forgot-style">Forgot password?</a><br/>
            </div>
            <button>Log in</button>
        </form>
    </div>
</body>

</html>