<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications | ASKfm</title>
    <link
      rel="stylesheet"
      href="{% static 'main/notificationstyle.css' %}"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <section class="notification">
     {% if request.session.answer %}
        <span class="username">{{answer.user.username}}</span>
        answered your question
        <span class="question">{{answer.question.question}}</span>
      {% endif %}
      </section>
    </div>
  </body>
</html>
