<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications | ASKfm</title>
    <link
      rel="stylesheet"
      href="F:\ask-fm-master\askfm\askfm\main\static\main\notificationstyle.css"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <section class="notification">
        <span class="username">username</span>
        answered your question
        <span class="question">" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis nesciunt ipsa, necessitatibus ex culpa deleniti quibusdam fuga facere esse. Exercitationem. "</span>
      </section>
    </div>
  </body>
</html>
