<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | ASKfm</title>
    <link rel="shortcut icon" href="https://dz6knj20ch8bg.cloudfront.net/432/281/136/-79996995-1tp2lrn-j5q3jql058eftpp/original/owl_1024x1024.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/signupstyle.css' %}">
</head>

<body>
    <header>
        <img src="https://d1muxuiltlupn6.cloudfront.net/assets/logo-218dee6614a52e488e9b2aed37eecfcb43b2523a2973be8fdbfbbc3ddcdf6328.png" alt="logo" class="logo">
    </header>
    <hr/>
    <div class="wrapper">
        <div class="form-title-wrapper">
            <p class="form-title">Sign up</p>
            <p id="title-font-size">Already have an account? <a href="#"> Log in</a></p>
        </div>
        <form action="{% url 'register'%}" method="post">
            {% csrf_token %}
            <label for="">Email</label><br/>
            {% if messages %}{% for message in messages%}<p class="warning">{{message}}</p>{%endfor%}{%endif%}
            <input name="email" type="email" placeholder="Email" required><br/>
            <label for="">Username</label><br/>
            <input minlength="5" maxlength="15" name="username" pattern="[A-Za-z0-9]+" type="text" placeholder="Username" required><br/>
            <label for="">Name</label><br/>
            <input name="name" minlength="6" maxlength="50" type="text" placeholder="Your name" required>

            <div>
                <label for="">Password</label><br/>
                <input minlength="8" maxlength="20" name="password" type="password" required autocomplete="new-password" placeholder="Password"><br/>
                <label for="">Gender</label><br/>
                <label><input required type="radio" name="gender" value=0 checked>Male</label>
                <label class="gender-margin"><input required type="radio" name="gender" value=1 >Female</label>
                <button>Sign up</button>
        </form>
        </div>

</body>

</html>